<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <title>{{ head_title }}</title>
        <link rel="stylesheet" href="{{ root }}style.css">
    </head>

    <body>
        <div id="page">

            <header>
                {% if title %}
                    <p><a href="{{ root }}">{{ site_title }}</a></p>
                {% else %}
                    <h1><a href="{{ root }}">{{ site_title }}</a></h1>
                {% endif %}
            </header>

            <div id="body">
                {% block content %}
                {% endblock %}
            </div>

            <footer>
                {% block footer %}
                    {% if id != 'index' %}
                        <p><a href="{{ root }}">Home</a></p>
                    {% endif %}
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
